USE [Superstore]
GO
/****** Object:  StoredProcedure [dbo].[GetAllCustomers]    Script Date: 4/16/2026 1:11:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author: BLAKE WATTS		
-- Create date: 4/14/26
-- Updated date: 
-- Description:	Get all customers
-- EXEC GetAllCustomers
-- =============================================
CREATE PROCEDURE [dbo].[GetAllCustomers]
AS
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	BEGIN TRY
		-- RETURN THE TOP 100 ACTIVE CUSTOMERS WUTH THEIR SEGMENT INFO
		SELECT TOP 100 c.CustomerID, c.FirstName, c.LastName, s.Segment
		FROM dbo.Customer AS c
		JOIN dbo.Segment AS s
		ON c.SegmentID = s.SegmentID
		WHERE IsActive = 1
	END TRY
	BEGIN CATCH
		SELECT ERROR_MESSAGE() AS ErrorMessage;
	END CATCH;


		-- Insert statements for procedure here
END
